@using Compare
@using Compare.Utilits
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Manufactures"];
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@SharedLocalizer["Manufactures"]</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div id="gridContainer">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            let GetAllManufacture = `@API.GeAllManufacturiesAPI`;
            let CRUDManufacture = `@API.CRUDManufactureAPI`;

            $("#gridContainer").dxDataGrid({
                dataSource: new DevExpress.data.DataSource({
                    store: new DevExpress.data.AspNet.createStore({
                        key: "id",
                        loadUrl: GetAllManufacture,
                        insertUrl: CRUDManufacture,
                        updateUrl: CRUDManufacture,
                        deleteUrl: CRUDManufacture,
                        onBeforeSend: function (method, ajaxOptions) {
                            ajaxOptions.xhrFields = { withCredentials: true };
                        }
                    }),
                    paginate: true,
                    pageSize: 100
                }),
                selection: {
                    mode: "multiple"
                },
                "export": {
                    enabled: true,
                    fileName: "Manufactures",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    mode: "form",
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },
                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "manufactureAdmin"
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["Name"]',
                        dataField: "name",
                        allowHeaderFiltering: false,
                    },
                    {
                        caption: '@SharedLocalizer["Sorting"]',
                        dataField: "displayOrder",
                        width: "130",
                        dataType: "number",
                        allowHeaderFiltering: false
                    }
                ]
            });

        });
    </script>
}