@using Microsoft.AspNetCore.Mvc.Localization
@using Compare
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@section Css{
    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/devextreme/js/dx-quill.min.js"></script>
}

<div class="container">
    <h4>@SharedLocalizer["Cabinet"]</h4>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/lib/devextreme/js/dx.all.js"></script>
    <script src="~/lib/devextreme/js/localization/dx.messages.ru.js"></script>
    <script src="~/lib/devextreme/js/dx.aspnet.data.js"></script>

    @RenderSection("Scripts", required: false)
}
